<link rel="stylesheet" href="/css/post.css">
<li> 
    <p>

        <%= post.content %> 

      <br>
       <small>
        <img id="image2" src="<%= post.user.avatar %>" alt="<%= post.user.name %>">
         <%= post.user.name %>
       </small>
       <% if ((locals.user) && (locals.user.id == post.user.id)){ %>
    
        <small> <a href="/posts/destroy/<%= post.id %>"> Delete </a></small>  
          <% } %>
    </p>
    </li>


    <div class ="post-comments">

      <div class="post-comments-list">
      <ul id="post-comments-<%= post._id %>"> 
              <% for(comment of post.comments){%>
                <%- include('_comment.ejs'); -%> 
              <% } %>
      </ul>
      <% if (locals.user) { %> 
        <form action="/comments/create"  method="POST">
        <input type="text" name ="content" placeholder="type here to add comment..." >
        <input type ="hidden" name="post" value="<%= post._id %>">
        <input type="submit" value="Post">
        </form>
      <% } %>
      </div>
    </div>
  </p>

